<body>
    <img id="logo" src="../../../../assets/logo/Logo.png" alt="LOGO" >
    <div class="loginForm">
        <form [formGroup]="resetpasswordform" (ngSubmit)="onSubmit()" autocomplete="nope">
            <h2>Reset Password</h2>
            <mat-form-field>
                <mat-label>Password</mat-label>
                <input formControlName="password" matInput [type]="hide ? 'password' : 'text'">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error *ngIf="f.password.errors?.required"> Requires</mat-error>
                <mat-error *ngIf="f.password.errors?.minlength">Minimum 8 charecter</mat-error>
            </mat-form-field><br>
            <mat-form-field>
                <mat-label>Confirm Password</mat-label>
                <input formControlName="confirmPassword" matInput [type]="hide ? 'password' : 'text'">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error *ngIf="f.confirmPassword.errors?.required"> Required</mat-error>
            </mat-form-field>
            <small style="margin-left: 15px;" *ngIf="f.confirmPassword.touched || resetpasswordform.errors?.identityRevealed">
                <mat-error style="margin-left: 15px;" *ngIf="resetpasswordform.errors?.identityRevealed">Passwords do not match</mat-error>
              </small><br>
            <br>
            <button [routerLink]="['/account/login']" mat-button style="float: left; display: flex;">Back To Login</button>
            <button mat-raised-button color="accent">Reset</button><br>
        </form><br>
    </div>
</body>