body {
    background-image: url("src/assets/backgroundImage/bg-1.jpg");
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: gainsboro;
}
.logo {
    padding: 5px;
    color: #3f51b5;
}
#logo {
    margin: 30px;
    border-radius: 4px;
    margin-bottom: 5px;
    width: 85px;
  }

  #logo-large {
    margin: 30px;
    border-radius: 4px;
    margin-bottom: 5px;
    width: 200px;
  }  
.mat-form-field {
    width: 220px;
    margin: 5px;
}
.loginForm {
    height: 100%;
    display: flex;
    align-items: center;
    padding-bottom: 40px;  
    width: 100%;
    max-width: 330px;
    margin: auto;
    border: #3f51b5;
}
button {
    float: right;
}