<body>
    <img id="logo" src="../../../../assets/logo/Logo.png" alt="LOGO"  >

    <div class="loginForm">
        <form [formGroup]="forgetpasswordform" (ngSubmit)="onSubmit()" autocomplete="nope">
            <h2>Forget Password</h2>
            <mat-form-field>
                <mat-label>Enter Your Email</mat-label>
                <input formControlName="email" matInput placeholder="example@domain.com" >
                <mat-error *ngIf="f.email.errors?.required">Email Required.</mat-error>
                <mat-error *ngIf="f.email.errors?.email">Email Invalid</mat-error>
            </mat-form-field><br>
            <button [routerLink]="['/account/login']" mat-button style="float: left; display: flex;">Back To Login</button>
            <button mat-raised-button color="accent">Submit</button>
        </form>    
    </div>
</body>