.example-card {
    max-width: 800px;
  }
  
  .example-header-image {
    background-size: cover;
  }
  .userdetails{
    height: 100%;
    align-items: center;
    width: 100%;
    max-width: 800px;
    margin: auto;
  }
  .table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  .table td, .table th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .table tr:nth-child(even){background-color: #f2f2f2;}
  
  .table tr:hover {background-color: #ddd;}
  
  .table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    color: white;
  }
  .addnewuser{
    font-size: 30px;
    margin-left: 80%;
  }
  .addnewuser:hover{
    cursor: pointer;
  }

  .submitbutton {
    background-color: #fff;
    color: #807778;
  }
  .submitbutton:hover {
    color: black;
  }