<div>
  <div class="charttt">
  
    <canvas id="ctx2" width="400" height="400"></canvas>
  </div>
  <div class="charttt">

    <canvas id="ctx" width="400" height="400"></canvas>
  </div>
  <div class="charttt">
  
    <canvas id="ctx4" width="400" height="400"></canvas>
  </div>
  <div class="charttt">
  
    <canvas id="ctx3" width="400" height="400"></canvas>
  </div>

</div>

<!-- 
<link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">


  <div class="container-fluid">

    <div class="background">
       <div class="cube"></div>
       <div class="cube"></div>
       <div class="cube"></div>
       <div class="cube"></div>
      <div class="cube"></div>
    </div>


   <header>
      <section class="header-content">
         <h1>Electronic Health Record System</h1>
        <p> A Product of Outreach for All</p>
        <button class="primary">Know more</button>
        <button class="accent">Meet us</button>
      </section>
  </header> -->