
.mat-form-field {
    width: 330px;
    margin: 5px;
    padding: 10px;
}
.loginForm {
    height: 50%;
    align-items: center;
    padding-bottom: 40px;  
    width: 330px;
    max-width: 360px;
    margin: auto;
}
button {
    width: 330px;
    margin: 5px;
    padding: 10px;
    align-items: center;
}
.active{
    width: 330px;
    margin: 5px;
    padding: 10px;
}