<body>
  <app-title [title]="title"></app-title>
    <button mat-button (click)="goBack()" >Back</button>
      <div class="loginForm">
          <form [formGroup]="updatePatientForm" (ngSubmit)="onSubmit()">

              <mat-form-field class="col-firstName" appearance="fill">
                  <mat-label>First Name</mat-label>
                  <input required formControlName="firstName" matInput>
                  <mat-error *ngIf="f.firstName.hasError('maxlength')">Maximum Length 40 Charecter</mat-error>
                  <mat-error *ngIf="f.firstName.hasError('required')">Required</mat-error>
              </mat-form-field>
              <mat-form-field class="col-lastName" appearance="fill">
                <mat-label>Last Name</mat-label>
                <input formControlName="lastName" matInput>
                <mat-error *ngIf="f.lastName.hasError('maxlength')">Maximum Length 40 Charecter</mat-error>
                <mat-error *ngIf="f.lastName.hasError('required')">Required</mat-error>
            </mat-form-field>
            <mat-form-field class="col-hospitalId" appearance="fill">
              <mat-label>Hospital</mat-label>
              <mat-select formControlName="hospitalId" required>
                <mat-option>--</mat-option>
                <mat-option *ngFor="let hospital of hospitals" [value]="hospital.id">
                  {{hospital.name}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="f.branchId.hasError('required')">Please choose Branch</mat-error>
            </mat-form-field>
            <mat-form-field class="col-branchId" appearance="fill">
              <mat-label>Branch</mat-label>
              <mat-select formControlName="branchId" required>
                <mat-option>--</mat-option>
                <mat-option *ngFor="let branch of branches" [value]="branch.id">
                  {{branch.name}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="f.branchId.hasError('required')">Please choose Branch</mat-error>
            </mat-form-field>
            <mat-form-field class="col-nid" appearance="fill">
              <mat-label>NID</mat-label>
              <input [value]="patient.nid" formControlName="nid" matInput >
              <mat-error *ngIf="f.nid.hasError('maxlength')">Maximum 25 Charecter</mat-error>
              <mat-error *ngIf="f.nid.hasError('pattern')">Please input valid number</mat-error>
          </mat-form-field>
              <mat-form-field class="col-address" appearance="fill">
                <mat-label>Address</mat-label>
                <input formControlName="address" matInput>
                <mat-error *ngIf="f.address.hasError('maxlength')">Maximum 200 Charecter</mat-error>
                <mat-error *ngIf="f.address.hasError('required')">Required</mat-error>
                <mat-error *ngIf="f.address.hasError('required')">Required</mat-error>
            </mat-form-field>
            <mat-form-field class="col-division" appearance="fill">
              <mat-label>Division</mat-label>
              <!-- (click)="loadUpazilaBySelectDistrict(upazila.id)" -->
              <mat-select formControlName="divisionId" #chooseddivValue required (valueChange)="loadDistrictBySelectDivision(chooseddivValue.value)">
                <mat-option>--</mat-option>
                <mat-option *ngFor="let division of divisions" [value]="division.id">
                  {{division.name}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="f.divisionId.hasError('required')">Required</mat-error>
            </mat-form-field>
            <mat-form-field class="col-district" appearance="fill">
              <mat-label>District</mat-label>
              <!-- (click)="loadUpazilaBySelectDistrict(upazila.id)" -->
              <mat-select formControlName="districtId" #choosedValue required (valueChange)="loadUpazilaBySelectDistrict(choosedValue.value)">
                <mat-option>--</mat-option>
                <mat-option *ngFor="let district of districts" [value]="district.id">
                  {{district.name}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="f.districtId.hasError('required')">Required</mat-error>
            </mat-form-field>
            <mat-form-field class="col-upazila" appearance="fill">
              <mat-label>Upazila</mat-label>
              <mat-select formControlName="upazilaId" required>
                <mat-option>--</mat-option>
                <mat-option *ngFor="let upazila of upazilas" [value]="upazila.id" >
                  {{upazila.name}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="f.upazilaId.hasError('required')">Required</mat-error>
            </mat-form-field>
              <mat-form-field class="col-mobileNumber" appearance="fill">
                  <mat-label>Mobile Number</mat-label>
                  <input formControlName="mobileNumber" matInput maxlength="11" >
                  <mat-error *ngIf="f.mobileNumber.hasError('maxLength')">Max 11 charecter</mat-error>
                  <mat-error *ngIf="f.mobileNumber.hasError('pattern')">Please input a valid number</mat-error>
              </mat-form-field>
              <mat-form-field class="col-doB" appearance="fill">
                <mat-label>Date Of Birth</mat-label>
                <input formControlName="doB" matInput [matDatepicker]="picker" required>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <mat-error *ngIf="f.doB.hasError('required')">Please choose a Date</mat-error>
              </mat-form-field>
            <mat-form-field class="col-gender" appearance="fill">
                <mat-label>Gender</mat-label>
                <mat-select formControlName="gender" required>
                  <mat-option>--</mat-option>
                  <mat-option value="Male">Male</mat-option>
                  <mat-option value="Female">Female</mat-option>
                  <mat-option value="Others">Others</mat-option>
                </mat-select>
                <mat-error *ngIf="f.gender.hasError('required')">Required</mat-error>
            </mat-form-field>
            <mat-form-field class="col-maritalStatus" appearance="fill">
                <mat-label>Marital Status</mat-label>
                <mat-select formControlName="maritalStatus">
                  <mat-option>--</mat-option>
                  <mat-option value="Married">Married</mat-option>
                  <mat-option value="Single">Single</mat-option>
                  <mat-option value="Widowed">Widowed</mat-option>
                  <mat-option value="Separated">Separated</mat-option>
                  <mat-option value="Divorced">Divorced</mat-option>
                </mat-select>
            </mat-form-field>


            <mat-form-field class="col-bloodGroup" appearance="fill">
                <mat-label>Blood Group</mat-label>
                <mat-select formControlName="bloodGroup">
                  <mat-option>--</mat-option>
                  <mat-option value="O+">O+</mat-option>
                  <mat-option value="O-">O-</mat-option>
                  <mat-option value="A+">A+</mat-option>
                  <mat-option value="A-">A-</mat-option>
                  <mat-option value="B+">B+</mat-option>
                  <mat-option value="B-">B-</mat-option>
                  <mat-option value="AB+">AB+</mat-option>
                  <mat-option value="AB-">AB-</mat-option>
                </mat-select>
                <mat-error *ngIf="f.bloodGroup.hasError('required')">Required</mat-error>
            </mat-form-field>
            <mat-form-field class="col-covidvaccine" appearance="fill">
              <mat-label>COVID-19 Vaccination</mat-label>
              <mat-select formControlName="covidvaccine">
                <mat-option>--</mat-option>
                <mat-option value="1">Yes</mat-option>
                <mat-option value="2">No</mat-option>
              </mat-select>
              <mat-error *ngIf="f.covidvaccine.hasError('required')">Required</mat-error>
          </mat-form-field>
          <mat-form-field class="col-vaccineBrand" appearance="fill">
            <mat-label>Vaccine</mat-label>
            <mat-select formControlName="vaccineBrand">
              <mat-option>--</mat-option>
              <mat-option value="1">Pfizer</mat-option>
              <mat-option value="2">Astrazeneca</mat-option>
              <mat-option value="3">Moderna</mat-option>
              <mat-option value="4">Sinopharm</mat-option>
              <mat-option value="5">Others</mat-option>
            </mat-select>
            <mat-error *ngIf="f.vaccineBrand.hasError('required')">Required</mat-error>
        </mat-form-field>
        <mat-form-field class="col-vaccineDose" appearance="fill">
          <mat-label>Vaccine Dose</mat-label>
          <mat-select formControlName="vaccineDose">
            <mat-option>--</mat-option>
            <mat-option value="1">1st Dose</mat-option>
            <mat-option value="2">2nd Dose</mat-option>
            <mat-option value="3">Boster Dose</mat-option>
          </mat-select>
          <mat-error *ngIf="f.vaccineBrand.hasError('required')">Required</mat-error>
      </mat-form-field>
      <mat-form-field class="col-d-firstDoseDate" appearance="fill">
        <mat-label>First Dose Date</mat-label>
        <input formControlName="firstDoseDate" matInput [matDatepicker]="pickerf">
        <mat-datepicker-toggle matSuffix [for]="pickerf"></mat-datepicker-toggle>
        <mat-datepicker #pickerf></mat-datepicker>
        <mat-error *ngIf="f.firstDoseDate.hasError('required')">Please choose a Date</mat-error>
      </mat-form-field>
      <mat-form-field class="col-d-secondDoseDate" appearance="fill" >
        <mat-label>Second Dose Date</mat-label>
        <input formControlName="secondDoseDate" matInput [matDatepicker]="pickers">
        <mat-datepicker-toggle matSuffix [for]="pickers"></mat-datepicker-toggle>
        <mat-datepicker #pickers></mat-datepicker>
        <mat-error *ngIf="f.secondDoseDate.hasError('required')">Please choose a Date</mat-error>
      </mat-form-field>
      <mat-form-field class="col-d-bosterDoseDate" appearance="fill">
        <mat-label>Boster Dose Date</mat-label>
        <input formControlName="bosterDoseDate" matInput [matDatepicker]="pickerb">
        <mat-datepicker-toggle matSuffix [for]="pickerb"></mat-datepicker-toggle>
        <mat-datepicker #pickerb></mat-datepicker>
        <mat-error *ngIf="f.bosterDoseDate.hasError('required')">Please choose a Date</mat-error>
      </mat-form-field>
            <mat-form-field class="col-note" appearance="fill">
              <mat-label>Note</mat-label>
              <input formControlName="note" matInput >
              <mat-error *ngIf="f.note.hasError('required')">Required</mat-error>
              <mat-error *ngIf="f.note.hasError('maxlength')">Maximum 300 Charecter</mat-error>
          </mat-form-field>
<!-- checkBox -->
            <mat-checkbox formControlName="primaryMember" class="col-primaryMember">Primary Member</mat-checkbox><br>
            <mat-form-field class="col-age" appearance="fill">
              <mat-label>Membership Registration Number</mat-label>
              <input formControlName="membershipRegistrationNumber" matInput maxlength="20">
            </mat-form-field>
            <mat-checkbox formControlName="isActive" class="col-isActive">Active</mat-checkbox>

            <hr style="height:2px;border-width:0;color:gray;background-color:gray">
        <br/><button mat-raised-button class="updatebutton" type="submit">Save</button>
          </form> 
      </div>
  </body>