<body >
    <div >
    <app-title [title]="title"></app-title>
    <button mat-button [routerLink]="['/medicine']" >Back</button>
      <div class="loginForm">
          <form [formGroup]="updatemedicineForm" (ngSubmit)="onSubmit()">
              <mat-form-field >
                  <mat-label>Brand Name</mat-label>
                  <input [value]="medicine.brandName" required  formControlName="brandName" matInput>
                  <mat-error *ngIf="f.brandName.hasError('required')">Required</mat-error>
                  <mat-error *ngIf="f.brandName.hasError('maxlength')">Maximum Length 40 charecter</mat-error>
              </mat-form-field><br>
              <mat-form-field >
                  <mat-label>Generic Name</mat-label>
                  <input  required formControlName="genericName" matInput >
                  <mat-error *ngIf="f.genericName.hasError('required')">Required</mat-error>
                  <mat-error *ngIf="f.genericName.hasError('maxlength')">Maximum Length 50 charecter</mat-error>
              </mat-form-field><br>
              <mat-form-field >
                  <mat-label>Manufacturar</mat-label>
                  <input  required formControlName="manufacturar" matInput >
                  <mat-error *ngIf="f.manufacturar.hasError('required')">Required</mat-error>
                  <mat-error *ngIf="f.manufacturar.hasError('maxlength')">Maximum Length 150 charecter</mat-error>
              </mat-form-field><br>
              <mat-form-field >
                <mat-label>Unit</mat-label>
                <input  required formControlName="unit" matInput >
                <mat-error *ngIf="f.unit.hasError('maxlength')">Maximum 99999999999999 </mat-error>
                <mat-error *ngIf="f.unit.hasError('pattern')">Input Valid Number</mat-error>
                <mat-error *ngIf="f.unit.hasError('required')">Required</mat-error>
            </mat-form-field><br>
              <mat-form-field >
                  <mat-label>Unit Price</mat-label>
                  <input type="number" required formControlName="unitPrice" min="0" max="8" matInput>
                  <mat-error *ngIf="f.unitPrice.hasError('pattern')">Input Valid Number</mat-error>
                  <mat-error *ngIf="f.unitPrice.hasError('required')">Required</mat-error>
              </mat-form-field><br>
                  <mat-checkbox formControlName="isActive" class="active">Active</mat-checkbox>
                  <br/><button mat-raised-button class="addbutton" type="submit">UPDATE</button>
        </form>    
      </div>
    </div>
  </body>