.loginForm {
    padding-top: 0% !important ;
    padding: 5%;
}
body {
    background-color: rgb(251, 251, 251);
}

@media only screen and (min-width: 768px) {
    .loginForm {
        width: 80%;
        margin: auto;
      }

    .col-firstName{
        width: 48%;
        margin-right: 2%;
    }
    .col-lastName{
        width: 48%;
        margin-left: 2%;
    }
    .col-hospitalId{
        width: 48%;
        margin-right: 2%;
    }
    .col-branchId{
        width: 48%;
        margin-left: 2%;
    }

    .col-address{
        width: 40%;
        margin-right: 1%;
    }
    .col-division{
        width: 18%;
        margin: 1%;
    }
    .col-district{
        width: 18%;
        margin: 1%;
    }
    .col-upazila{
        width: 18%;
        margin-left: 1%;
    }

    .col-nid{
        width: 36%;
        margin-right: 2%;
    }
    .col-mobileNumber{
        width: 33%;
        margin-right: 2%;
    }
    .col-gender{
        width: 27%;
    }
    .col-age{
        width: 11%;
        margin-right: 1%;
    }
    .col-doB{
        width: 20%;
        margin-right: 1%;
    }
    .col-maritalStatus{
        width: 18%;
        margin-right: 1%;
    }
    .col-bloodGroup{
        width: 18%;
    }
    .col-covidvaccine {
        margin-right: 1%;
    }
    .col-vaccineBrand {
        margin-right: 1%;
    }
    .col-note{
        display: block;
        margin: auto;
    }
    .col-membershipRegistrationNumber {
        width: 40%;
        margin-right: 1%;
    }
    .age{

        border: 1px solid black;
        text-align: center;
        display: inline;
        padding-top: 30px;
        padding-bottom: 20px;
        margin-bottom: 10px;
        margin-right: 10px;
    }
    td {
        text-align: right;
    }
    [class*="col-v-"] {
        margin: 1%;
        width: 13%;
      }
      [class*="col-d-"] {
        margin: 1%;
        width: 15%;
      }
      
}


    /* For mobile phones: */
@media only screen and (max-width: 768px) {
    [class*="col-"] {
        width: 100%;
      }
      .mat-form-field {
          width: 100%;
      }
      .loginForm {
          width: 100%;
      }
      .age{
        border: 1px solid black;
        text-align: center;
        padding-top: 10px;
        padding-bottom: 5px;
        margin-bottom: 10px;
    }
}
button {
    background-color: #fff;
    color: #787878;
    cursor: pointer;
    height: 45px;
    margin: 5px;
    font-size: 18px;
    align-items: center;
}
button:hover {
    color: black;
}
.addbutton {
    width: 250px;
      color: #787878;
  }