<div>
    <mat-form-field class="search">
      <mat-label>Search</mat-label>
      <input matInput  [formControl]="patientsearch" placeholder=" " #input>
    </mat-form-field><br>
    <mat-form-field appearance="fill" class="selecthospital">
      <mat-label>Select Branch</mat-label>
      <mat-select #value (valueChange)="visitListAccordingToHospital(value.value)" [(value)]="hospitalId">
        <mat-option [value]="option.id" *ngFor="let option of hospitals">{{option.name}}</mat-option>
      </mat-select>
    </mat-form-field>
    <div class="addnewuser">
      <button mat-raised-button class="btn addbutton" [routerLink]="['../add']">
        <span class="material-icons buttonadd btn">
          add
        </span>Visit</button>
    </div>
</div>
      <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
        <ng-container matColumnDef="HospitalName">
          <th mat-header-cell *matHeaderCellDef > HospitalName </th>
          <td mat-cell *matCellDef="let dataSource"> {{dataSource.hospitalName}} </td>
        </ng-container>
        <ng-container matColumnDef="Date">
          <th mat-header-cell *matHeaderCellDef > Date </th>
          <td mat-cell *matCellDef="let dataSource"> {{dataSource.date | date:'dd/MM/YYY'}} </td>
        </ng-container>
        <ng-container matColumnDef="FirstName">
          <th mat-header-cell *matHeaderCellDef > First Name </th>
          <td mat-cell *matCellDef="let dataSource"> {{dataSource.patientFirstName}} </td>
        </ng-container>
        <ng-container matColumnDef="LastName">
            <th mat-header-cell *matHeaderCellDef > Last Name </th>
            <td mat-cell *matCellDef="let dataSource"> {{dataSource.patientLastName}} </td>
          </ng-container>
          <ng-container matColumnDef="Serial">
            <th mat-header-cell *matHeaderCellDef > Serial </th>
            <td mat-cell *matCellDef="let dataSource"> {{dataSource.serial}} </td>
          </ng-container>
          <ng-container matColumnDef="Status">
            <th mat-header-cell *matHeaderCellDef> Status </th>
            <td mat-cell *matCellDef="let dataSource"> {{dataSource.status}} </td>
          </ng-container>
          <ng-container matColumnDef="EditStatus">
            <th mat-header-cell *matHeaderCellDef> Edit Status </th>
            <td matTooltip="Edit Status" mat-cell *matCellDef="let dataSource">
               <mat-icon (click)="openUpdateVisitEntryStatusDialog(dataSource)">edit</mat-icon>
            </td>
          </ng-container>
        <ng-container matColumnDef="Edit">
          <th mat-header-cell *matHeaderCellDef> Edit </th>
          <td matTooltip="Edit" mat-cell *matCellDef="let dataSource">
            <mat-icon (click)="openUpdateVisitEntryDialog(dataSource)">edit</mat-icon>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      
        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
        </tr>
      </table>
      <mat-paginator 
      #paginator 
      [length]="totalRows" 
      [pageIndex]="currentPage" 
      [pageSize]="pageSize"
      [pageSizeOptions]="pageSizeOptions" 
      (page)="pageChanged($event)" 
      aria-label="Select page"
      ></mat-paginator>
      <footer-for-all [footerName]="footerName"></footer-for-all>