<app-title [title]="title"></app-title>
<body class="userdetails">
    <mat-card class="example-card">
        <mat-card-header>
        <mat-card-title>{{pregnantProfile.name}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p>ID: <small>{{pregnantProfile.id}}</small></p>
            <!-- <p>Branch: <small>{{hospitalDetails.branch}}</small></p>
            <p>Address: <small>{{hospitalDetails.address}}</small></p>
            <p>Division: <small>{{hospitalDetails.division}}</small></p>
            <p>Upazila: <small>{{hospitalDetails.upazila}}</small></p>
            <p>District: <small>{{hospitalDetails.district}}</small></p>
            <p>Updated On: <small>{{hospitalDetails.updatedOn | date:'dd/MM/YYY'}}</small></p>
            <p>Updated By: <small>{{hospitalDetails.updatedBy}}</small></p>
            <p>Created On: <small>{{hospitalDetails.createdOn | date:'dd/MM/YYY'}}</small></p>
            <p>Created By: <small>{{hospitalDetails.createdBy}}</small></p>
            <p>Active:
                <mat-checkbox style="margin-left: 10px;" disabled [checked] = hospitalDetails.isActive></mat-checkbox>
            </p> -->
            <div class="fullline">
                <div [ngClass]="{'line': pregnantProfile.firstCheckup === 1, 'line2' : pregnantProfile.firstCheckup === 0 }"></div>
                <div [ngClass]="{'line': pregnantProfile.secondCheckup === 1, 'line2' : pregnantProfile.secondCheckup === 0 }"></div>
                <div [ngClass]="{'line': pregnantProfile.thirdCheckup === 1, 'line2' : pregnantProfile.thirdCheckup === 0 }"></div>
                <div [ngClass]="{'line': pregnantProfile.fourthCheckup === 1, 'line2' : pregnantProfile.fourthCheckup === 0 }"></div>
                <div [ngClass]="{'line': pregnantProfile.fifthCheckup === 1, 'line2' : pregnantProfile.fifthCheckup === 0 }"></div>
                <div [ngClass]="{'line': pregnantProfile.sixthCheckup === 1, 'line2' : pregnantProfile.sixthCheckup === 0 }"></div>
                <div [ngClass]="{'line': pregnantProfile.seventhCheckup === 1, 'line2' : pregnantProfile.seventhCheckup === 0 }"></div>
                <div [ngClass]="{'line': pregnantProfile.eightthCheckup === 1, 'line2' : pregnantProfile.eightthCheckup === 0 }"></div>
                <div [ngClass]="{'line': pregnantProfile.ninethCheckup === 1, 'line2' : pregnantProfile.ninethCheckup === 0 }"></div>
                <div [ngClass]="{'line': pregnantProfile.tenthCheckup === 1, 'line2' : pregnantProfile.tenthCheckup === 0 }"></div>
            </div>
        </mat-card-content>
        <mat-card-actions>
        <button mat-button [routerLink]="['../../pregnancy']" >Back</button>
        <button mat-button [routerLink]="['../../edit/'+ pregnantProfile.id]">Edit</button>
        </mat-card-actions>
    </mat-card>
</body>