<app-title [title]="title"></app-title>
<body>
    <button mat-button [routerLink]="['../../userlist']" >Back</button>
      <div class="loginForm">
          <form [formGroup]="updateUserForm" (ngSubmit)="onSubmit()" autocomplete="nope">
              <mat-form-field appearance="fill">
                  <mat-label>Hospital</mat-label>
                  <mat-select formControlName="hospitalId" required>
                    <mat-option>--</mat-option>
                    <mat-option *ngFor="let hospital of hospitals" [value]="hospital.id">
                      {{hospital.name}}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="f.hospitalId.hasError('required')">Please choose Hospital</mat-error>
                </mat-form-field>
              <mat-form-field>
                  <mat-label>First Name</mat-label>
                  <input formControlName="firstName" matInput placeholder="example@domain.com" maxlength="40" >
                  <mat-error *ngIf="f.firstName.hasError('maxlength')">Maximum 40 charecter</mat-error>
              </mat-form-field><br>
              <mat-form-field>
                  <mat-label>Last Name</mat-label>
                  <input formControlName="lastName" matInput maxlength="40">
                  <mat-error></mat-error>
              </mat-form-field><br>
              <mat-form-field>
                  <mat-label>Email</mat-label>
                  <input formControlName="email" matInput >
                  <mat-error></mat-error>
              </mat-form-field><br>
              <mat-form-field>
                  <mat-label>Designation</mat-label>
                  <input formControlName="designation" matInput>
                  <mat-error *ngIf="f.designation.hasError('maxlength')">Maximum 20 charecter</mat-error>
              </mat-form-field><br>
              <mat-form-field>
                  <mat-label>Phone Number</mat-label>
                  <input formControlName="phoneNumber" matInput>
                  <mat-error *ngIf="f.phoneNumber.hasError('pattern')">Input a valid number</mat-error>
                  <mat-error *ngIf="f.phoneNumber.hasError('required')">Required</mat-error>
              </mat-form-field><br>
              <mat-form-field appearance="fill">
                  <mat-label>Role</mat-label>
                  <mat-select formControlName="role" required>
                    <mat-option>--</mat-option>
                    <mat-option  *ngFor="let role of roles" [value]="role.roleName">
                      {{role.roleName}}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="f.role.hasError('required')">Please choose a Role</mat-error>
                </mat-form-field>
                  <mat-checkbox formControlName="isActive" [checked]="updateUser.role" class="active">Active</mat-checkbox>
                  <h2>For Doctors Only</h2>
                  <mat-form-field class="col-bmdcRegNo">
                    <mat-label>BMDC Reg No.(For Doctor Only)</mat-label>
                    <input  formControlName="bmdcRegNo" matInput maxlength="15">
                    <mat-error *ngIf="f.bmdcRegNo.hasError('maxlength')">Maximum 15 charecter</mat-error>
                </mat-form-field>
                <mat-form-field class="col-optionalEmail">
                  <mat-label>Optional Email(For Doctor Only)</mat-label>
                  <input formControlName="optionalEmail" matInput>
                  <mat-error *ngIf="f.optionalEmail.hasError('email')">Input a valid email</mat-error>
              </mat-form-field>
                  <br/><button mat-raised-button color="accent" type="submit">Save</button>
              
          </form>    
      </div>
  </body>