tr{
    padding: 0%;
    margin: 0%;
}
.loginForm {
    padding-top: 0% !important ;
    padding: 5%;
}


@media only screen and (min-width: 768px) {
    .loginForm {
        width: 90%;
        margin: auto;
      }
      .col-patient-id{
        width: 60%;
        margin-right: 2%;
    }

    .col-patient{
        width: 43%;
        margin-right: 2%;
    }
    .col-visit-entry{
        width: 29%;
    
    }
    .col-hospitalId{
        width: 30%;
        margin-right: 2%;
    }
    .col-branchId{
        width: 48%;
        margin-right: 2%;
    }
    .col-address{
        display: block;
        margin: auto;
    }
    .col-nid{
        width: 48%;
        margin-left: 2%;
    }

    .col-mobileNumber{
        width: 58%;
        margin-right: 2%;
    }
    .col-doB{
        width: 38%;
        margin-left: 2%;
    }
    .col-age{
        width: 32%;
        margin-right: 2%;
    }
    .col-gender{
        width: 32%;
        margin-right: 2%;
    }
    .col-maritalStatus{
        width: 32%;
        margin-right: 2%;
    }
    .col-bloodGroup{
        width: 32%;
    }
    .col-note{
        display: block;
        margin: auto;
    }
    .col-patientwithvarify {
        width: 49%;
        margin-right: 2%;
        display: inline-block;
    }
    .patientid{
        width: 200px;
        float: left;
    }
    .loadbutton {
        width: 20%;
        margin-top: 20px;
    }
    [class*="col-v-"] {
        margin: 1%;
        width: 23%;
      }

    
}


    /* For mobile phones: */
@media only screen and (max-width: 768px) {
    [class*="col-"] {
        width: 100%;
      }
      .mat-form-field {
          width: 100%;
      }
      .loginForm {
          width: 100%;
      }
}

button {

    margin: 5px;
    align-items: center;
    background-color: #fff;
    cursor: pointer;
    color: #787878;
    height: 45px;

    margin: 5px;
    font-size: 18px;
}
button:hover {
    color: black;
}
.addbutton {
    width: 330px;
      background-color: #fff;
      color: #787878;
  }
