table {
  margin: 10px;
  width: 99%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}
.search {
  float: left;
  width: 70%;
  margin-left: 5%;
  height: 2%;
}
.addnewuser {
  float: right;
  width: 15%;
  margin-bottom: 10px;
  margin-right: 5%;
}
.mat-column-Edit {
  padding-right: 20px;
  text-align: center;
}
.buttonadd {
  margin-right: -1%;
  color: rgb(0, 0, 0);

}
button {
  width: 200px;
  font-size: 18px;
  align-items: center;
}
.mat-icon {
  margin: 2%;
}
.mat-icon:hover {
  background-color: #ebc672 ;
  color: rgb(0, 0, 0);
  cursor: pointer;
}
.addbutton {
  background-color: #eae0c8;
  cursor: pointer;
  color: rgb(0, 0, 0);
}
.addbutton:hover {
  background-color: #ecc66f;
  cursor: pointer;
  color: rgb(0, 0, 0);
}
th.mat-sort-header-sorted {
  color: black;
}

.mat-row {
  height: 0%;
}

.mat-cell {
  padding-top:0% ;
  padding-bottom:0% ;
}