<body>
  <app-title [title]="title"></app-title>
  <button mat-button [routerLink]="['../list']" >Back</button>
      <div class="loginForm">
          <form [formGroup]="visitEntryAddForm" (ngSubmit)="onSubmit()">
            <mat-form-field appearance="fill" class="selecthospital">
              <mat-label>Select Branch</mat-label>
              <mat-select #value formControlName="hospitalId">
                <mat-option [value]="option.id" *ngFor="let option of hospitals">{{option.name}}</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field class="form-brand-name" appearance="fill">
              <mat-label>Patient</mat-label>
              <input type="text" matInput id="patientName" name="patientName"
                                  aria-label="BrandName"
                                  [matAutocomplete]="autobrandName"
                                  [formControl]="patientsearch">
              <mat-autocomplete #autobrandName="matAutocomplete">
                <mat-option *ngFor="let patient of PatientsForSearch" (click)="onSelectPatient(patient)">
                  <span>{{patient.id}}</span> |
                  <span>{{patient.firstName}} {{patient.lastName}}</span>|
                  <span>{{patient.mobileNumber}}</span>
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>

            <mat-form-field class="patientid" appearance="fill">
              <mat-label>Patient ID</mat-label>
              <input matInput formControlName="patientId">
            </mat-form-field>
            <button 
                mat-raised-button 
                type="button" 
                class="loadbutton"
                (click)="loadserial()">Get Serial</button>
              <mat-form-field class="col-doB" appearance="fill">
                <mat-label>Date</mat-label>
                <input formControlName="date" matInput [matDatepicker]="picker" (dateChange)="loadSerialByDate()" required>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker  ></mat-datepicker>
                <mat-error *ngIf="f.date.hasError('required')">Please choose a Date</mat-error>
              </mat-form-field>
              <mat-form-field>
                <mat-label>Serial</mat-label>
                <input formControlName="serial" matInput>
                <mat-error *ngIf="f.serial.hasError('required')">Required</mat-error>
            </mat-form-field><br>   
              <div mat-dialog-actions>
                <button 
                mat-raised-button 
                type="submit" 
                class="addbutton"
                [disabled]="!visitEntryAddForm.valid">ADD</button>
              </div>
          </form>    
      </div>
  </body>